.amount-wrapper {
  display: flex;
  flex-direction: row;
}

.amount-wrapper-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin: 8px;
}

.form-label {
  margin-right: 6px;
}
